<?xml version="1.0" encoding="UTF-8"?>
    <phpunit backupGlobals="false"
             backupStaticAttributes="false"
             colors="true"
             convertErrorsToExceptions="true"
             convertNoticesToExceptions="true"
             convertWarningsToExceptions="true"
             processIsolation="false"
             stopOnFailure="false"
             syntaxCheck="false"
             bootstrap="tests/bootstrap.php">
        <logging>
            <log type="coverage-clover" target="build/clover.xml"/>
            <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
        </logging>

        <filter>
            <whitelist>
                <directory>./lib/Underscore/</directory>
                <exclude>
                    <directory>./tests/Underscore/Test/Fixture</directory>
                </exclude>
            </whitelist>
        </filter>

        <testsuites>
            <testsuite name="Tests">
                <directory>./tests/</directory>
            </testsuite>
        </testsuites>
</phpunit>
